.content{
  margin: 6px auto;
  display: block;
  width: 70%;
  padding: 10px;
  background: Tomato;
  color: #fff;
  border-radius: 10px;
}

.content:hover{
  box-shadow: 0 0 5px 4px Tomato;
}

.date{
  font-style: italic;
  margin: 0;
  font-size: 20px;
}

.flex{
  display: flex;
}

.opacity{
  opacity: 0.5;
  font-size: 18px;
}

.info{
  width: 70%;
}

.buttons{
  width: 30%;
  margin: 40px 0 30px 80px;
}

.btn{
  background: DodgerBlue;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 5px;
  display: block;
  width: 80px;
}

.btn:hover{
  box-shadow: 0 0 5px 2px #000000;
}

.edit{
  background: #4CAF50;
}

.description{
  font-size: 20px;
  margin: 0;
}

.spinner {
  text-align: center;
  margin-top: 100px;
}

.removeLoading{
  margin: 0;
}

.spinner__animation {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  border-right: 3px solid rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  border-left: 3px solid rgb(129, 138, 145);
  animation: loading-spinner 0.5s infinite linear;
}

.spinner_remove{
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  border-right: 3px solid rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  border-left: 3px solid rgb(129, 138, 145);
  animation: loading-spinner 0.5s infinite linear;
}

@keyframes loading-spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
